* text=auto
*.sh text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.jar binary
*.gif binary
*.ttf binary
*.otf binary
*.woff binary
*.eot binary
*.swf binary
*.pdf binary
*.bmp binary
*.icc binary
*.wav binary
*.mp4 binary
*.wmf binary
*.doc binary
